@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  body{
    @apply bg-[#f6f6f6] font-body transition-all duration-500
  }
  a{
    @apply no-underline
  }
  li{
    @apply list-none
  }
}
.navbar{
  justify-content: space-between;
}
.button{
  background: linear-gradient(71deg,rgba(255,130,58,1) 0%,rgba(255,90,97,1) 37%,rgba(255,130,58,1) 100%);
}
.button:hover{
  background: linear-gradient(71deg,rgba(196,195,255,1) 0%,rgba(154,121,247,1) 37%,rgba(196,195,255,1) 100%);
}
.marquee {
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 120%;
  animation: marquee 20s linear infinite;
}

.marquee2 span {
  animation-delay: 10s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/*.landing{
  background-image: url(../public/landingpage.webp);
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position:center;
  height: 650px;
  z-index: 0;
}*/
.spottie{
  background: linear-gradient(#191a19a5,#2223239a),url(../public/spottie-image.webp);
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
#burst-8 {
  background: rgb(237, 236, 236);
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  transform: rotate(20deg);
}
#burst-8:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: rgb(237, 236, 236);
  transform: rotate(135deg);
}
.up-down{
  animation: up-down linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down{
  0% {
    transform:  translate(1px,-100px)  ;
  }
  100% {
    transform:  translate(1px,100px)  ;
  }
}

@-moz-keyframes up-down{
  0% {
    -moz-transform:  translate(1px,20px)  ;
  }
  24% {
    -moz-transform:  translate(1px,30px)  ;
  }
  50% {
    -moz-transform:  translate(1px,12px)  ;
  }
  74% {
    -moz-transform:  translate(1px,22px)  ;
  }
  100% {
    -moz-transform:  translate(1px,22px)  ;
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform:  translate(1px,20px)  ;
  }
  24% {
    -webkit-transform:  translate(1px,30px)  ;
  }
  50% {
    -webkit-transform:  translate(1px,12px)  ;
  }
  74% {
    -webkit-transform:  translate(1px,22px)  ;
  }
  100% {
    -webkit-transform:  translate(1px,22px)  ;
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform:  translate(1px,20px)  ;
  }
  24% {
    -o-transform:  translate(1px,30px)  ;
  }
  50% {
    -o-transform:  translate(1px,12px)  ;
  }
  74% {
    -o-transform:  translate(1px,22px)  ;
  }
  100% {
    -o-transform:  translate(1px,22px)  ;
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform:  translate(1px,20px)  ;
  }
  24% {
    -ms-transform:  translate(1px,30px)  ;
  }
  50% {
    -ms-transform:  translate(1px,12px)  ;
  }
  74% {
    -ms-transform:  translate(1px,22px)  ;
  }
  100% {
    -ms-transform:  translate(1px,22px)  ;
  }
}





@media (max-width:767px) {
  .landing{
    background-size: cover;
    background-position: right;
    height: 390px;
    width: -100%;
    margin-top:-240px;
    z-index: 0;
  }
}
@media (max-width:453px) {
  .landing{
    height: 700px;
  }
}
@media (min-width:767px) {
  .tagline{
    margin-left: 30px;
    margin-top: -55vh
  
  }
}

